vlc/extras/tools/.buildant
vlc/extras/tools/.buildbison
vlc/extras/tools/.buildgettext
vlc/extras/tools/.buildhelp2man
vlc/extras/tools/.buildlibtool
vlc/extras/tools/.buildm4
vlc/extras/tools/.buildmeson
vlc/extras/tools/.buildnasm
vlc/extras/tools/.buildninja
vlc/extras/tools/.buildprotoc
vlc/extras/tools/.buildragel
vlc/extras/tools/ant/
vlc/extras/tools/apache-ant-1.9.7.tar.bz2
vlc/extras/tools/bison-3.0.4.tar.xz
vlc/extras/tools/bison/
vlc/extras/tools/gettext-0.19.8.1.tar.gz
vlc/extras/tools/gettext/
vlc/extras/tools/help2man-1.47.6.tar.xz
vlc/extras/tools/help2man/
vlc/extras/tools/libtool-2.4.6.tar.gz
vlc/extras/tools/m4-1.4.18.tar.gz
vlc/extras/tools/m4/
vlc/extras/tools/meson-0.51.1.tar.gz
vlc/extras/tools/meson/
vlc/extras/tools/nasm-2.14.tar.gz
vlc/extras/tools/nasm/
vlc/extras/tools/ninja-1.8.2.tar.gz
vlc/extras/tools/ninja/
vlc/extras/tools/protobuf-3.1.0.tar.gz
vlc/extras/tools/protobuf/
vlc/extras/tools/ragel-6.10.tar.gz
vlc/extras/tools/ragel/
